<link href='http://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>

<style>
/* CUSTOMIZE THE CAROUSEL

    -------------------------------------------------- */
    /* Carousel base class */

    .carousel {

      margin-bottom: 60px;

    }

    .carousel .container {

      position: relative;

      z-index: 9;

    }


    .carousel-control {

      height: 80px;

      margin-top: 0;

      font-size: 120px;

      text-shadow: 0 1px 1px rgba(0,0,0,.4);

      background-color: transparent;

      border: 0;

      z-index: 10;

    }



    .carousel .item {

      height: 500px;

    }

    .carousel img {

      position: absolute;

      top: 0;

      left: 0;

      min-width: 100%;

      height: 500px;

    }



    .carousel-caption {

      background-color: transparent;

      position: static;

      max-width: 550px;

      padding: 0px;

      margin-top: 200px;

    }

    .carousel-caption h1,

    .carousel-caption .lead {

      margin: 0;

      line-height: 1.25;

      color: #fff;

      text-shadow: 0 1px 1px rgba(0,0,0,.4);

    }

    .carousel-caption .btn {

      margin-top: 10px;

    }
</style>

 <!-- Carousel

    ================================================== 

    <div id="myCarousel" class="carousel slide">

      <div class="carousel-inner">

        <div class="item active">

	  <%= image_tag("slide0.jpg") %>

          <div class="container">

            <div class="carousel-caption">

              <h1>Example headline.</h1>

              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

              <a class="btn btn-large btn-primary" href="#">Sign up today</a>

            </div>

          </div>

        </div>

        <div class="item">

	  <%= image_tag("slide1.jpg") %>

          <div class="container">

            <div class="carousel-caption">

              <h1>Another example headline.</h1>

              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

              <a class="btn btn-large btn-primary" href="#">Learn more</a>

            </div>

          </div>

        </div>

        <div class="item">

	  <%= image_tag("slide2.jpg") %>

          <div class="container">

            <div class="carousel-caption">

              <h1>One more for good measure.</h1>

              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>

            </div>

          </div>

        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>

      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

    </div><!-- /.carousel -->




  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    
    <a href="#dilemma"><div id="dilemma" class="row">
	<h1>The Dilemma</h1>

      <div class="span4">
	

        <h2>Sadly...</h2>
	<div class="circle-text" ><div>56%</div></div>
	<p>of low income students are underprepared in mathematics</p>

      </div><!-- /.span4 -->

      <div class="span4">

	<h2>Unfortunately...</h2>
	<div class="circle-text" ><div>31%</div></div>
	<p>of minority students leave STEM majors because of inadequete preparation</p>

      </div><!-- /.span4 -->

      <div class="span4">
        <h2>Only...</h2>
	<div class="circle-text"><div>25%</div></div>
	<p>of computer science jobs are held by women</p>


      </div><!-- /.span4 -->

    </div></a><!-- /.row -->


    <a href="#effort"><div id="effort" class="row">
      <h1>Bridging the Gap!</h1>
      <p>AI in Action is provides high school students in the Orangeburg, SC  community with a free afterschool course in probalistic robotics. Our program exposes students to mathematics and computer science topics far beyond their high school curriculum. By completing a series of programming assignmnets students learn are equiped with the fundamentals of mobile robotics. The course rigor and variety prepares students to pursue any STEM disipline while giving each partcipant a robotics education they will not find anywhere else.</p>

      <p>The course covers fundamentals of the following topics: </p>

      <li>Python</li>
	<li>Linux</li>
	<li>Robot Navigation</li>
	<li>Robot Path Planning</li>
	<li>Computer Vision</li>
	<li>Robot Operating System</li>
	<li>Linear Algebra</li>
	<li>Probability Theory</li>




    </div></a><!-- /.row -->

    <div id="contact" class="row">
      <h1>Contact Information</h1>
      <h2>Eddie Massey III</h2>
      <h3>Founder</h3>

      <%= mail_to("eddie.massey@case.edu", "Eddie Massey III") %>

    </div><!-- /.row -->







    




    <%= link_to image_tag("rails.png", alt: ""), 'http://rubyonrails.org/' %>

