<section id="involved">



  <div class="row section-head">

    <div class="col full">



      <h2>Where Do You Fit In?</h2>

      <p class="desc">You can be apart of changing the future.</p>



      <p class="intro"> Are you a high school student, looking to apply to our program? Not a student, but 

	want to help? We are always looking for volunteers and sponsors.

      </p>



    </div>

  </div>



  <div class="row">



    <!-- Portfolio Wrapper -->

    <div id="portfolio-wrapper">



      <div class="col portfolio-item">

        <div class="item-wrap">

	  <a href="#" data-reveal-id="modal-01"><%= image_tag("portfolio/student.jpg") %></a>

	  <div class="portfolio-item-meta">

	    <h5><%= link_to "Apply as a Student!",  '#' %></h5>

	  </div>

        </div>

      </div>



      <div class="col portfolio-item">

        <div class="item-wrap">

	  <a href="#" data-reveal-id="modal-02"><%= image_tag("portfolio/volunteer.jpg") %></a>

	  <div class="portfolio-item-meta">

	    <h5><a href="#">Volunteer!</a></h5>

	  </div>

        </div>

      </div>



      <!--<div class="col portfolio-item">

        <div class="item-wrap">
	  
	  <a href="#" data-reveal-id="modal-03"><%= image_tag("portfolio/host.jpg") %></a>
	  
	  <div class="portfolio-item-meta">
	    
	    <h5><a href="#">Host Us!</a></h5>
	    
	  </div>

        </div>

      </div> -->



      <div class="col portfolio-item">

        <div class="item-wrap">

	  <a href="#" data-reveal-id="modal-03"><%= image_tag("portfolio/donate.jpg") %></a>

	  <div class="portfolio-item-meta">

	    <h5><a href="#">Donate!</a></h5>

	  </div>

        </div>

      </div>

    </div> <!-- Portfolio Wrapper End -->


  </div> <!-- End Row -->





  <!-- Modal Popup

       =========================================================== -->



  <!-- modal-01 -->

  <div id="modal-01" class="reveal-modal">



    <%= image_tag('portfolio/student.jpg') %>



    <div class="description-box">

      <h4>Apply Now!</h4>

      <p><iframe src="https://docs.google.com/forms/d/1IpgQS9_YGz1jWNCZNy14avegbRbWtx-fMML0iiEno98/viewform?embedded=true" width="550" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>


    </div>



    <div class="link-box">


      <a class="close-reveal-modal">Close</a>

    </div>



  </div><!-- modal-01 End -->



  <!-- modal-02 -->

  <div id="modal-02" class="reveal-modal">



    <%= image_tag('portfolio/volunteer.jpg') %>



    <div class="description-box">

      <h4>Volunteer Today!</h4>

      <p><iframe src="https://docs.google.com/forms/d/1PuLjhiwaqaYIDqknJUGdYDAuEWwZKNgoHvEPGZ5e9L0/viewform?embedded=true" width="550" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>


    </div>



    <div class="link-box">

      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-02 End -->



  <!-- modal-03 -->

  <div id="modal-03" class="reveal-modal">

    <%= image_tag('portfolio/donate.jpg') %>
    



    <div class="description-box">

      <h4>Donate Today!</h4>

      <p><script type="text/javascript" src="https://www.wepay.com/js/iframe.wepay.js">
	</script>

	<script type="text/javascript">
	  WePay.iframe_checkout("checkout_div_id", "checkout_uri");
      </script></p>



    </div>



    <div class="link-box">

      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-03 End -->



  <!-- modal-04 -->

  <div id="modal-04" class="reveal-modal">



    <img class="scale-with-grid" src="images/portfolio/modals/m-sneaker-splash.jpg" alt="" />



    <div class="description-box">

      <h4>Sneaker Splash</h4>

      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

      <span class="categories"><i class="icon-tag"></i>Photography, Branding</span>

    </div>



    <div class="link-box">

      <a href="http://www.behance.net">Details</a>

      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-04 End -->



  <!-- modal-05 -->

  <div id="modal-05" class="reveal-modal">



    <img class="scale-with-grid" src="images/portfolio/modals/m-judah.jpg" alt="" />



    <div class="description-box">

      <h4>Judah</h4>

      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>


    </div>



    <div class="link-box">


      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-05 End -->



  <!-- modal-06 -->

  <div id="modal-06" class="reveal-modal">



    <img class="scale-with-grid" src="images/portfolio/modals/m-vector-flower.jpg" alt="" />



    <div class="description-box">

      <h4>Vector Flower</h4>

      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>


    </div>



    <div class="link-box">


      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-06 End -->



  <!-- modal-07 -->

  <div id="modal-07" class="reveal-modal">



    <img class="scale-with-grid" src="images/portfolio/modals/m-clock.jpg" alt="" />



    <div class="description-box">

      <h4>Clock</h4>

      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>


    </div>



    <div class="link-box">


      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-07 End -->



  <!-- modal-08 -->

  <div id="modal-08" class="reveal-modal">



    <img class="scale-with-grid" src="images/portfolio/modals/m-fields.jpg" alt="" />



    <div class="description-box">

      <h4>Fields</h4>

      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

    </div>



    <div class="link-box">

      <a class="close-reveal-modal">Close</a>

    </div>



  </div> <!-- modal-08 End -->



</section> <!-- Portfolio End -->


<!-- Le Javascript -->


