<!DOCTYPE html>
<html>
  <head>
    <title>AI in Action</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "AI In Action", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "The Education Gap",    '#' %></li>
              <li><%= link_to "The Workforce Dilemma",    '#' %></li>
              <li><%= link_to "Our Efforts",    '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>
    </div>
  </body>
</html>
